@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;300&display=swap');

body {
  background-image: url(../img/Background.png);
}

.background-color-layer {
  background-size: cover;
  opacity: 0.15;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 30%;
  box-shadow: inset 0 -40px 60px 10px #a3a3a3;
}

.header {
  margin-bottom: 30px;
}

.top {
  font-family: "K2D", sans-serif;
  color: rgba(255, 137, 122, 0.74);
  font-weight: bold;
  font-size: 90px;
}

.top_b {
  font-family: "K2D", sans-serif;
  font-size: 18px;
  color: aliceblue;
  margin-top: -10px;
  margin-right: 190px;
}

.iconA {
  margin: 10px;
  margin-top: -10px;
}

.icon {
  margin-bottom: 21px;
}

.logo {
  width: 200px;
  height: 200px;
  background-image: url("../img/nixvip_m_w.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: 30px;
}

@media screen and (max-width: 600px)
{
  .top{
    font-size: 64px;
  }
  .top_b{
    font-size: 14px;
    margin-top: -10px;
    margin-right: 120px;
  }
  .iconA{
    margin: 5px;
  }
  .icon {
    margin-bottom: 15px;
  }
  
}