@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;300&display=swap');

body {
  height: 900px;
  background-image: url(./../../source/img/Background.png);
}

header .overlay {
  font-family: "K2D", sans-serif;
  width: 100%;
  height: 100%;
  padding: 100px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}

h1 {
  font-family: "K2D", cursive;
  font-size: 80px;
  margin-bottom: 30px;
}

h3,
h5,
p {
  font-family: "K2D", sans-serif;
  margin-bottom: 30px;
}

.nav-link {
  font-family: "K2D", sans-serif;
}

.col {
  margin-bottom: 50px;
}

.btn{
  font-family: "K2D", sans-serif;
  margin-top: 20px;
}

button {
  font-family: "K2D", sans-serif;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}
