@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

body {
  background-image: url(../img/Background.png);
}

.background-color-layer {
  background-size: cover;
  opacity: 0.15;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 30%;
  box-shadow: inset 0 -40px 60px 10px #a3a3a3;
}

.header {
  margin-bottom: 30px;
}

.top {
  color: rgba(255, 137, 122, 0.74);
  font-size: 90px;
}

.top_b {
  color: aliceblue;
}

.iconA {
  margin: 10px;
}

.logo {
  width: 200px;
  height: 200px;
  background-image: url("../img/nixvip_m_w.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
  margin-top: 30px;
}
